.about-screen-page {
    @include page-element-dimensions;

    .main-container {
        width: 100%;
        @include flex-item;

        .main {
            // @include main-element-dimensions;
            @include flex-item(column);

            .container-about {
                align-items: center;
                justify-content: center;
            }
        
            .linking_group {
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }
        }
    }
}