

.container {
    @include placeholder-color;
    width: 100%;

    .phoneInput {
        color: var(--input-text-color);
        box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.32);
        background-color: var(--input-background-image);
        border-radius: 6px;
        font-family: var(--primary-font-regular);;
        font-size: toRem(15);
        display: inline-block;
        border: var(--input-border-color);
        width: 100%;

        &.error-border{
            border-color: $app-coral-red;
        }

        .dropdown{
            width: 100%;
        }
    }
}




