$app-green-color: #739E2E;
$app-yellow-green-color: #92C23E;
$app-tea-green-color: #DFF8B1;
$app-english-vermillion-color: #C75252;
$app-bittersweet-color: #FF6464;
$app-dark-purple-color: #1A051D;
$app-english-violet-color: #3F3356;
$app-grey-color: #808080;
$app-light-grey-color: #D3D3D3;
$app-lavender-grey-color: #D0C9D6;
$app-white-color: #FFFFFF;
$app-ghost-white-color: #F7F5F9;
$app-light-green-color:#8cc751;
$app-solitude-color : #ECE9F1;
$app-dimmed-grey-color : #A5A5A5;
$app-light-pink-color : #F39590;
$app-light-green-color : #B9E066;
$app-gradient-green-light-color : #9CC154;
$app-gradient-green-dark-color : #89A84D;
$app-coral-red : #EE5A52;
$app-olive-green-color : #709C16;
$app-rich-black-color : #050505;
$app-medium-grey-color : #9E9E9E;
$app-light-coral : #D7746F;

//Fonts
$app-font-primary: 'Segoe UI';
$app-font-primary-bold: 'Segoe UI Bold';
$app-font-secondary: var(--primary-font-regular);
$app-font-secondary-medium: 'SFProText-Medium';
$app-font-secondary-semi-bold: 'SFProText-Semibold';
$app-font-secondary-bold: 'SFProText-Bold';

//Font Properties
$app-font-weight : 400;

$base-font-size : 16;

//Dimensions
$max-content-width: 480px;
