.support-screen-page {
    @include page-element-dimensions;
    @include flex-item(column, center);

    .main-container {
        width: 100%;
        @include flex-item;
        .main {
            @include main-element-dimensions;
            @include flex-item(column);

            .container {
                text-align: center;
                padding-top: 20;
            }

            .title {
                font-size: 18px;
            }
            
            .LinkingGroup{
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }

            .flexGrow{
                flex-grow: 1
            }
        }
    }
}